@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
$primary-color: rgb(196, 221, 255);
$button-primary: #241744;
$font-primary: Montserrat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// .contenedor {
//   display: flex;
// }

.pic-cart {
  height: 100px;
  width: 100px;
}
.global {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  gap: 3rem;
  background-color: #ededed;
  padding: 20px;
}
.cart {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}
.button-cart {
  width: 100px;
}
.btn-cont {
  display: flex;
  gap: 10px;
}
