@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
$primary-color: rgb(196, 221, 255);
$button-primary: #241744;
$font-primary: Montserrat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  border-bottom: 1px dotted grey;
}

.header div {
  display: flex;
  gap: 1.5em;
}
.btn-head {
  all: unset;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
  width: 100px;
  background: $button-primary;
  color: #fff;
  border-radius: 100px;
  font-family: $font-primary;
  font-weight: 600;
  transition: 0.3s ease all;
}
.cart {
  font-size: 20px;
}
